#imageNews {
    width: 75px;
    height: auto;
    margin-left: 15%;
}

body {
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(192, 185, 177);
}

img {
    width: 320px;
    height: auto;
    text-align: center;
}

p {
    text-align: justify;
    width: 900px;
}

.header-container {
    display: flex;
}

.sumario-container {
    background-color: rgba(255, 255, 255, 0.271);
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    width: 250px;
    border-radius: 5%;
    border-color: purple;
}